<studSup-banner></studSup-banner>

<studSup-article [data]="{
 alignment: 'align-left',
 headline: 'How to ?',
 text: 'Auf dieser Plattform kann man sich zu ausgewählten Lehrveranstaltungen (LVA) Nachhilfe Angebote ansehen.' +
  'Dafür klickt man auf eine LVA und sieht die verfügabren Angebote durch die Lehrenden. Um ein Angebot zu buchen muss' +
   'man sich vorher auf der Plattform anmelden.',
 imageUrl: '/assets/img/article/b4.jpg',
 imageSize: 'big',
 mobileAlignment: 'full-width',
 ctaText: 'Zur LVA Übersicht'
}"></studSup-article>

<studSup-article [data]="{
 alignment: 'align-right',
 headline: 'Nachhilfe für alle',
 text: 'Wir helfen Schüler*innen mit maßgeschneiderter Einzel-Nachhilfe durch qaulifizierte Lehrende. ' +
  'Wir bieten Unterricht auf höchstem Niveau, wann & wo man will. Dafür haben wir ein großartige Plattform geschaffen, die' +
   'eine  Vielfalt an unterschiedlichen Lehrveranstaltungen (LVA) bietet.',
 imageUrl: '/assets/img/article/s2.jpg',
 imageSize: 'small',
 mobileAlignment: 'regular',
 ctaText: 'Zur LVA Übersicht'
}"></studSup-article>
