<div class="container-fluid padding wrapper login">

  <div class=" d-flex justify-content-center align-items-center loginBox">

    <div id="login">
      <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="user_card">
            <div class="d-flex justify-content-center">
              <div class="brand_logo_container">
                <img src="assets/img/Student%20SupportLogoWithoutWording.svg"
                     class="brand_logo" alt="Logo" />
              </div>
            </div>

            <div class="d-flex justify-content-center form_container">

              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div>
                  <div class="d-flex justify-content-center links mb-3">
                    Willkommen bei Student Support!
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="material-icons ">person</i>
                    </span>
                  </div>
                  <input type="email" id="email" required
                         pattern="(?=.{1,254}$)(?=.{1,64}@)[-!#$%&'*+\/0-9=?A-Z^_`a-z{|}~]+(\.[-!#$%&'*+\/0-9=?A-Z^_`a-z{|}~]+)*@[A-Za-z0-9]([A-Za-z0-9-]{0,61}[A-Za-z0-9])?(\.[A-Za-z0-9]([A-Za-z0-9-]{0,61}[A-Za-z0-9])?)"
                         formControlName="email" class="form-control input_email" placeholder="E-Mail">
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="material-icons ">lock</i></span>
                  </div>
                  <input type="password" id="password" formControlName="password" class="form-control input_pass" placeholder="Passwort">
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                  <button id="login-submit" type="submit" class="btn mb-3 login_btn"
                          [disabled]="loginForm.invalid">Login</button>
                </div>

                <div class="mt-2 mb-2">
                  <div class="d-flex justify-content-center links">
                    <div class="secondaryBtn text-center d-flex justify-content-center flex-column">
                      <div>Noch keinen Account?</div>
                      <div>Schade!</div>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="errors['password']" class="ui negative message mb-1">
      {{errors['password']}}
    </div>
    <div *ngIf="errors['email']" class="ui negative message mb-1">
      {{errors['email']}}
    </div>

  </div>
</div>
