<div class="container-fluid padding wrapper login">

  <div class=" d-flex justify-content-center align-items-center loginBox">

    <div id="login">
      <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="user_card">
            <div class="d-flex justify-content-center">
              <div class="brand_logo_container">
                <img src="assets/img/Student%20SupportLogoWithoutWording.svg"
                     class="brand_logo" alt="Logo" />
              </div>
            </div>

            <div class="d-flex justify-content-center form_container">

              <form>
                <div>
                  <div class="d-flex justify-content-center links mb-3">
                    Willkommen bei Student Support !
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="material-icons ">person</i>
                    </span>
                  </div>
                  <input type="emial" id="eamil" name="" class="form-control input_email" value="" placeholder="E-Mail">
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="material-icons ">lock</i></span>
                  </div>
                  <input type="password" id="password" name="" class="form-control input_pass" value="" placeholder="Passwort">
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                  <a href="" id="login-submit" class="btn login_btn">Login</a>
                </div>

                <div class="mt-2 mb-2">
                  <div class="d-flex justify-content-center links">
                    <div class="secondaryBtn text-center d-flex justify-content-center flex-column">
                      <div>Noch keinen Account?</div>
                      <div>Schade!</div>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
