@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/mixins";

.banner {
  header.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url(~src/assets/img/banner/home-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto auto;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo-sizing {
        height: 200px;
        margin-bottom: 20px;
      }
    }

    .btn-container {
      width: 300px;

      .custom-btn {
        border-radius: 25px;
        min-width: 0;
        background: studSup-color(orange);
        border: 1px solid studSup-color(orange);
        padding: 0;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $font-weight-bold;

        &:hover, &:focus {
          background: studSup-color(dark-orange);
          border-color: studSup-color(dark-orange);
          color: white;
        }

        span {
          padding: 12px 20px 12px 20px;
          font-size: 20px;
        }
      }

    }
  }


  @media (min-width: 768px) {
    header.masthead {
      .logo-sizing {
        height: 300px;
      }
    }
  }

  @media (min-width: 1200px) {
    header.masthead {
      background-size: 100vw auto;
    }
  }
}

