@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/mixins";

.offer-detail {

  .spacing-left {
    margin-left: 5px;
  }

  strong{
    color: studSup-color(orange);
  }

  &.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  .card-background {
    @media (min-width: 820px) {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: darkgrey;
    }

    .card-img {
      @media (min-width: 820px) {
        max-width: 50%;
        height: 100%;
      }
    }
  }

  .custom-btn {
    border-radius: 25px;
    min-width: 0;
    background: studSup-color(orange);
    border: 1px solid studSup-color(orange);
    padding: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-bold;

    &:hover, &:focus {
      background: studSup-color(dark-orange);
      border-color: studSup-color(dark-orange);
      color: white;
    }

    span {
      padding: 12px 20px 12px 20px;
      font-size: 20px;
    }
  }

  .subject {
    width: 50%;
  }

  .modal-close-btn {
    background-color: white;
    border: none;
    font-size: 30px;
  }

  .student-card {
    .card-text{
      margin-left: 10px;
    }

    .card-title-profile {
      margin-bottom: 0 !important;
      font-weight: bold;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media (min-width: 905px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
