@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/mixins";

.studSup-request-overview-item-div {
  color: black;
  text-decoration: none;

  .card-text{
    margin-left: 10px;
  }

  .card-title-profile {
    margin-bottom: 0 !important;
    font-weight: bold;
  }

  .icon-spacing {
    margin-left: 2px;
    margin-right: 5px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (min-width: 905px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .btn-container {
    margin-top: 20px;

    @media (min-width: 905px) {
      margin-top: 0;
    }
  }

  .custom-button {
    &.spacing {
      margin-right: 5px;
      margin-left: 5px;
    }

    padding: 5px;
    border: 2px solid black;
    color: black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: studSup-color(orange);
      color: white;
    }
  }

  .modal-close-btn {
    background-color: white;
    border: none;
    font-size: 30px;
  }
}
